<div class="card">
  <p-table
    #dt
    [stripedRows]="true"
    size="large"
    [value]="users"
    [loading]="loading"
    [globalFilterFields]="['title', 'first_name', 'last_name', 'email', 'role']"
    [tableStyle]="{ 'min-width': '50rem' }"
    dataKey="id"
    [scrollable]="true"
    scrollHeight="calc(100vh - 12rem)"
  >
    <ng-template pTemplate="caption">
      <div class="flex items-center gap-2">
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            [(ngModel)]="searchValue"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search keyword"
          />
        </p-iconfield>
        <p-button label="Add User" icon="pi pi-plus" (onClick)="openAddUser($event)" />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="title.title">Title <p-sortIcon field="title.title" /></th>
        <th pSortableColumn="first_name">First Name <p-sortIcon field="first_name" /></th>
        <th pSortableColumn="last_name">Last Name <p-sortIcon field="last_name" /></th>
        <th pSortableColumn="email">Email <p-sortIcon field="email" /></th>
        <th pSortableColumn="location.denomination">
          Location <p-sortIcon field="location.denomination" />
        </th>
        <th pSortableColumn="active_withdrawals">
          <i class="pi pi-shopping-cart text-lg"></i>
          <p-sortIcon field="active_withdrawals" />
        </th>
        <th pSortableColumn="barcode">Barcode <p-sortIcon field="barcode" /></th>
        <th style="width: 4rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <app-image-display
            [image]="user.image_path"
            width="60px"
            height="60px"
            shape="square"
            icon="pi pi-user"
          />
        </td>
        <td>{{ user.title?.title }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <app-location-display [location]="user.location" />
        </td>
        <td>
          @if (user.active_withdrawals > 0) {
            <p-tag [value]="user.active_withdrawals.toString()" severity="warn" />
          }
        </td>
        <td>{{ user.barcode }}</td>
        <td class="relative">
          <div class="flex items-center gap-2">
            <p-button
              icon="pi pi-eye"
              [rounded]="true"
              severity="secondary"
              (onClick)="openDetail(user)"
            />
            <p-splitButton
              label="Actions"
              icon="pi pi-cog"
              [model]="items"
              (onDropdownClick)="setMenuUser(user)"
              outlined
              severity="secondary"
              size="small"
              appendTo="body"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="drawerVisible"
  [header]="(selectedUser?.first_name || '') + ' ' + (selectedUser?.last_name || '')"
  [modal]="true"
  [dismissableMask]="true"
  [style]="{ width: '40rem' }"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
>
  <app-user-detail [user]="selectedUser" (onEdit)="openEditUser($event)" />
</p-dialog>

<p-dialog
  [(visible)]="formDrawerVisible"
  [header]="editingUser ? 'Edit User' : 'Add User'"
  [modal]="true"
  [dismissableMask]="true"
  [style]="{ width: '40rem' }"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
>
  <ng-template pTemplate="content">
    <app-user-form
      *ngIf="formDrawerVisible"
      [user]="editingUser"
      (onSave)="onFormSave()"
      (onCancel)="onFormCancel()"
    />
  </ng-template>
</p-dialog>
