<div class="card">
  <p-table
    #dt
    [stripedRows]="true"
    size="large"
    [value]="assets"
    [loading]="loading"
    [globalFilterFields]="['denomination', 'part_number', 'barcode']"
    [tableStyle]="{ 'min-width': '50rem' }"
    dataKey="id"
    [scrollable]="true"
    scrollHeight="calc(100vh - 12rem)"
  >
    <ng-template pTemplate="caption">
      <div class="flex items-center gap-2">
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            [(ngModel)]="searchValue"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search keyword"
          />
        </p-iconfield>
        <p-button label="Add Asset" icon="pi pi-plus" (onClick)="openAddAsset()" />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="denomination">Denomination<p-sortIcon field="denomination" /></th>
        <th pSortableColumn="part_number">Part Number<p-sortIcon field="part_number" /></th>
        <th pSortableColumn="barcode">Barcode<p-sortIcon field="barcode" /></th>
        <th pSortableColumn="min_stock" class="text-right">
          <p-sortIcon field="min_stock" class="mr-2" />
          Min Stock
        </th>
        <th pSortableColumn="total_quantity" class="text-right">
          <p-sortIcon field="total_quantity" class="mr-2" />
          Quantity
        </th>
        <th pSortableColumn="withdrawn_quantity" class="text-right" style="width: 6rem">
          <i class="pi pi-cart-arrow-down font-bold text-xl pt-1"></i>
        </th>
        <th pSortableColumn="is_below_min_stock" class="text-center" style="width: 6rem">
          <i class="pi pi-angle-double-down font-bold text-xl pt-1"></i>
        </th>
        <th pSortableColumn="has_near_expiry_batches" class="text-center" style="width: 6rem">
          <i class="pi pi-clock font-bold text-xl pt-1"></i>
        </th>
        <th pSortableColumn="has_expired_batches" class="text-center" style="width: 6rem">
          <i class="pi pi-calendar-times font-bold text-xl pt-1"></i>
        </th>
        <th style="width: 4rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asset>
      <tr>
        <td>
          <app-image-display
            [image]="$any(getSafeUrl(asset.image_path))"
            width="60px"
            height="60px"
            shape="square"
            icon="pi pi-box"
          />
        </td>
        <td class="font-bold">{{ asset.denomination }}</td>
        <td>{{ asset.part_number }}</td>
        <td>{{ asset.barcode }}</td>
        <td class="text-right">{{ asset.min_stock }}</td>
        <td class="text-right">
          <p-tag
            [value]="asset.total_quantity.toString()"
            [severity]="getQuantitySeverity(asset)"
          />
        </td>
        <td class="text-right font-bold text-muted-color">
          {{ asset.withdrawn_quantity }}
        </td>
        <td class="text-center">
          @if (asset.is_below_min_stock) {
            <p-tag severity="danger" class="p-2 pr-1">
              <i class="pi pi-angle-double-down font-bold text-xl"></i>
            </p-tag>
          }
        </td>
        <td class="text-center">
          @if (asset.has_near_expiry_batches) {
            <p-tag severity="warn" class="p-2 pr-1">
              <i class="pi pi-clock font-bold text-xl"></i>
            </p-tag>
          }
        </td>
        <td class="text-center">
          @if (asset.has_expired_batches) {
            <p-tag severity="danger" class="p-2 pr-1">
              <i class="pi pi-calendar-times font-bold text-xl"></i>
            </p-tag>
          }
        </td>
        <td class="relative">
          <div class="flex items-center gap-2">
            <p-button
              icon="pi pi-eye"
              [rounded]="true"
              severity="secondary"
              (onClick)="openDetail(asset)"
            />
            <p-splitButton
              label="Batch"
              icon="pi pi-plus"
              (onClick)="openAddBatch(asset)"
              [model]="items"
              (onDropdownClick)="setMenuAsset(asset)"
              outlined
              severity="secondary"
              size="small"
              appendTo="body"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="drawerVisible"
  [header]="selectedAsset?.denomination || 'Asset Detail'"
  [modal]="true"
  [dismissableMask]="true"
  [style]="{ width: '70vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
>
  <app-asset-detail
    [asset]="selectedAsset"
    (onEdit)="openEditAsset($event)"
    (onEditBatch)="openEditBatch($event)"
    (onWithdrawBatch)="withdrawBatch($event)"
  />
</p-dialog>

<p-dialog
  [(visible)]="formDrawerVisible"
  [header]="editingAsset ? 'Edit Asset' : 'Add Asset'"
  [modal]="true"
  [dismissableMask]="true"
  [style]="{ width: '40rem' }"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
>
  <ng-template pTemplate="content">
    @if (formDrawerVisible) {
      <app-asset-form [asset]="editingAsset" (onSave)="onFormSave()" (onCancel)="onFormCancel()" />
    }
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="batchFormDrawerVisible"
  [header]="
    (selectedBatch ? 'Edit Batch for ' : 'Add Batch for ') +
    (selectedAsset?.denomination || 'Asset')
  "
  [modal]="true"
  [dismissableMask]="true"
  [style]="{ width: '40rem' }"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
>
  <ng-template pTemplate="content">
    @if (batchFormDrawerVisible) {
      <app-asset-batch-form
        [asset]="selectedAsset"
        [batch]="selectedBatch"
        (onSave)="onBatchFormSave()"
        (onCancel)="batchFormDrawerVisible = false"
      />
    }
  </ng-template>
</p-dialog>
