<div class="card">
  <p-table
    #dt
    [stripedRows]="true"
    [rowHover]="true"
    size="large"
    [value]="assets"
    [loading]="loading"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="['denomination', 'part_number', 'barcode']"
    [tableStyle]="{ 'min-width': '50rem' }"
    dataKey="id"
    [scrollable]="true"
    scrollHeight="calc(100vh - 12rem)"
    [expandedRowKeys]="expandedRows"
    (onRowExpand)="onRowExpand($event)"
  >
    <ng-template pTemplate="caption">
      <div class="flex items-center gap-2">
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            [(ngModel)]="searchValue"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search keyword"
          />
        </p-iconfield>
        <p-button label="Add Asset" icon="pi pi-plus" (onClick)="openAddAsset()" />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem"></th>
        <th style="width: 4rem"></th>
        <th pSortableColumn="denomination">Denomination <p-sortIcon field="denomination" /></th>
        <th pSortableColumn="part_number">Part Number <p-sortIcon field="part_number" /></th>
        <th pSortableColumn="barcode">Barcode <p-sortIcon field="barcode" /></th>
        <th pSortableColumn="min_stock">Min Stock <p-sortIcon field="min_stock" /></th>
        <th pSortableColumn="total_quantity">Quantity <p-sortIcon field="total_quantity" /></th>
        <th pSortableColumn="is_below_min_stock">
          <i class="pi pi-angle-double-down font-bold"></i>
          &nbsp;<p-sortIcon field="is_below_min_stock" />
        </th>
        <th pSortableColumn="has_near_expiry_batches">
          <i class="pi pi-clock font-bold"></i>
          &nbsp;<p-sortIcon field="has_near_expiry_batches" />
        </th>
        <th pSortableColumn="has_expired_batches">
          <i class="pi pi-calendar-times font-bold"></i>
          &nbsp;<p-sortIcon field="has_expired_batches" />
        </th>
        <th style="width: 4rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asset let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            pRipple
            [pRowToggler]="asset"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
        <td>
          <p-avatar
            [image]="$any(getSafeUrl(asset.image_path) || '')"
            shape="square"
            size="large"
            icon="pi pi-box"
          />
        </td>
        <td class="font-bold">{{ asset.denomination }}</td>
        <td>{{ asset.part_number }}</td>
        <td>{{ asset.barcode }}</td>
        <td>{{ asset.min_stock }}</td>
        <td>
          <p-tag
            [value]="asset.total_quantity.toString()"
            [severity]="getQuantitySeverity(asset)"
          />
        </td>
        <td class="text-center">
          @if (asset.is_below_min_stock) {
            <i class="pi pi-angle-double-down text-red-500 font-bold"></i>
          }
        </td>
        <td class="text-center">
          @if (asset.has_near_expiry_batches) {
            <i class="pi pi-clock text-orange-500 font-bold"></i>
          }
        </td>
        <td class="text-center">
          @if (asset.has_expired_batches) {
            <i class="pi pi-calendar-times text-red-500 font-bold"></i>
          }
        </td>
        <td class="relative">
          <p-splitButton
            label="Batch"
            icon="pi pi-plus"
            (onClick)="openAddBatch(asset)"
            [model]="items"
            (onDropdownClick)="setMenuAsset(asset)"
            outlined
            severity="secondary"
            size="small"
            appendTo="body"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template #expandedrow let-asset>
      <tr>
        <td></td>
        <td colspan="10">
          <div class="p-4">
            <p-table
              [value]="assetBatches[asset.id]"
              [loading]="loadingBatches[asset.id]"
              size="small"
              class="p-datatable-sm border border-primary rounded-xl overflow-hidden"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>Batch</th>
                  <th>Serial Number</th>
                  <th>Location</th>
                  <th>Quantity</th>
                  <th>Exp. Date</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-batch>
                <tr>
                  <td class="font-bold">{{ batch.denomination }}</td>
                  <td>{{ batch.serial_number }}</td>
                  <td>
                    <app-location-display [location]="batch.location" />
                  </td>
                  <td>{{ batch.quantity }}</td>
                  <td>
                    @if (batch.expiration_date) {
                      <p-tag
                        [value]="(batch.expiration_date | date: 'fullDate') ?? ''"
                        [severity]="
                          isExpired(batch.expiration_date)
                            ? 'danger'
                            : isNearExpiry(batch.expiration_date)
                              ? 'warn'
                              : 'success'
                        "
                        [icon]="
                          isExpired(batch.expiration_date)
                            ? 'pi pi-exclamation-circle'
                            : isNearExpiry(batch.expiration_date)
                              ? 'pi pi-exclamation-triangle'
                              : ''
                        "
                      />
                    } @else {
                      -
                    }
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="5" class="text-center">
                    @if (loadingBatches[asset.id]) {
                      <div class="flex items-center justify-center gap-2">
                        <i class="pi pi-spin pi-spinner"></i> Loading batches...
                      </div>
                    } @else {
                      No batches found for this asset.
                    }
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-drawer
  [(visible)]="drawerVisible"
  [header]="selectedAsset?.denomination || 'Asset Detail'"
  position="right"
  [style]="{ width: '40rem' }"
>
  <app-asset-detail [asset]="selectedAsset" (onEdit)="openEditAsset($event)" />
</p-drawer>

<p-drawer
  [(visible)]="formDrawerVisible"
  [header]="editingAsset ? 'Edit Asset' : 'Add Asset'"
  position="right"
  [style]="{ width: '40rem' }"
  [modal]="true"
  [dismissible]="true"
>
  <ng-template pTemplate="content">
    @if (formDrawerVisible) {
      <app-asset-form [asset]="editingAsset" (onSave)="onFormSave()" (onCancel)="onFormCancel()" />
    }
  </ng-template>
</p-drawer>

<p-drawer
  [(visible)]="batchFormDrawerVisible"
  [header]="'Add Batch for ' + (selectedAsset?.denomination || 'Asset')"
  position="right"
  [style]="{ width: '40rem' }"
  [modal]="true"
  [dismissible]="true"
>
  <ng-template pTemplate="content">
    @if (batchFormDrawerVisible) {
      <app-asset-batch-form
        [asset]="selectedAsset"
        (onSave)="onBatchFormSave()"
        (onCancel)="batchFormDrawerVisible = false"
      />
    }
  </ng-template>
</p-drawer>
