@if (user()) {
  <div class="flex flex-col gap-4">
    <p-toast />
    <div class="flex flex-wrap gap-6 px-6">
      <app-user-full-detail [user]="user()" (copyEmail)="copyToClipboard($event)" class="flex-1" />
      <app-notes entityType="user" [entityId]="user()!.id" [floating]="true" />
    </div>

    <div>
      <app-withdrawals-table
        [withdrawals]="withdrawals()"
        [loading]="loading()"
        [showAddButton]="false"
        [showToolbar]="false"
        (onReturn)="openReturn($event)"
        (onDetails)="openDetails($event)"
      />
    </div>

    <p-dialog
      [visible]="returnDrawerVisible()"
      (visibleChange)="returnDrawerVisible.set($event)"
      header="Return Asset"
      [modal]="true"
      [dismissableMask]="true"
      [style]="{ width: '40rem' }"
      [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
    >
      <ng-template pTemplate="content">
        @if (returnDrawerVisible() && selectedWithdrawal()) {
          <app-withdrawal-return-form
            [withdrawal]="selectedWithdrawal()"
            (onSave)="onReturnSave()"
            (onCancel)="onReturnCancel()"
          />
        }
      </ng-template>
    </p-dialog>
  </div>
}
