:host ::ng-deep .p-organizationchart {
  overflow: visible;
}

:host ::ng-deep .p-organizationchart .p-organizationchart-node,
:host ::ng-deep .p-organizationchart .p-organizationchart-node-content {
  overflow: visible;
}

:host ::ng-deep .p-speeddial {
  z-index: 1100;
}
