<app-withdrawals-table
  [withdrawals]="withdrawals"
  [loading]="loading"
  [showAddButton]="true"
  [toolbarFixed]="true"
  (onAdd)="openAddWithdrawal()"
  (onReturn)="openReturn($event)"
  (onDetails)="openDetails($event)"
/>

<p-dialog
  [(visible)]="formDrawerVisible"
  header="Add Withdrawal"
  [modal]="true"
  [dismissableMask]="true"
  [style]="{ width: '55rem' }"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
>
  <ng-template pTemplate="content">
    @if (formDrawerVisible) {
      <app-withdrawal-form (onSave)="onFormSave($event)" (onCancel)="onFormCancel()" />
    }
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="returnDrawerVisible"
  header="Return Asset"
  [modal]="true"
  [dismissableMask]="true"
  [style]="{ width: '40rem' }"
  [breakpoints]="{ '960px': '75vw', '640px': '90vw' }"
>
  <ng-template pTemplate="content">
    @if (returnDrawerVisible && selectedWithdrawal) {
      <app-withdrawal-return-form
        [withdrawal]="selectedWithdrawal"
        (onSave)="onReturnSave()"
        (onCancel)="onReturnCancel()"
      />
    }
  </ng-template>
</p-dialog>
